# venv & Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.ipynb_checkpoints/

.env
# data & outputs
data/
checkpoints/
finals/
reports/
logs/
.hashes/
.DS_Store

hf_exports/

models/

# Jupyter
*.local/
