aioboto3
chromadb>=0.5.4
datasets>=3.1.0
dspy-ai
graspologic
hnswlib
nano-vectordb
neo4j
networkx
openai>=1.54.0
pandas>=2.2.0
python-dotenv
pyarrow
rapidfuzz
sentence-transformers
tabulate
tenacity
tiktoken
tqdm
xxhash
